h1 {
    -webkit-animation: aparece 5s ease-in;
    animation: aparece 5s ease-in;
}
@keyframes aparece {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes aparece {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.citacao-bio {
    background-color: #D9E5E3;
    border: .5em solid #C2CCCA;
    padding: 1em;
    margin: 1em 2em;
    width: 30ch;
    box-sizing: border-box;
    transition-delay: 0s, 1s;
    position: relative;
    -webkit-animation: quica 1s infinite;
    animation: quica 1s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    transition: box-shadow 1s, transform 1s;
    transition-delay: 0s, 1s;
}
@-webkit-keyframes quica {
    from {
        top: 0;
    }
    90% {
        transform: rotate(-2deg);
    }
    95% {
        transform: rotate(2deg);
    }
    to {
        top: 1em;
    }
}

@keyframes quica {
    from {
        top: 0;
    }
    90% {
        transform: rotate(-2deg);
    }
    95% {
        transform: rotate(2deg);
    }
    to {
        top: 1em;
    }
}

.citacao-bio:nth-of-type(even) {
    float: left;
    margin-left: 0;
}

.citacao-bio:nth-of-type(odd) {
    float: right;
    margin-right: 0;
}

.citacao-bio:hover,
.citacao-bio:focus {
    box-shadow: 0 0 0 99999px rgba(0,0,0,.8);
    animation-play-state: paused;
    transition-delay: 0s, 1s;
}

.citacao-bio:nth-of-type(odd):hover,
.citacao-bio:nth-of-type(odd):focus {
    transform: scale(1.2) rotate(5deg);
}

.citacao-bio:nth-of-type(even):hover,
.citacao-bio:nth-of-type(even):focus {
    transform: scale(1.2) rotate(-5deg);
}
.citacao-bio::before {
    content: '“';
    position: absolute;
    font-size: 10em;
    line-height: .8;
    color: #bbb;
}

.citacao-bio > p {
    position: relative;
}

.container > p::first-letter {
    font-size: 200%; 
    color: #3C1D3D;
    text-shadow: 1px 1px #000;
    margin-right: .2ch;
    line-height: 1;
}

.icones-redes-sociais a {
    position: relative;
}

.icones-redes-sociais a:hover::after,
.icones-redes-sociais a:focus::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 100%;
    right: 0;
    text-indent: 0;
    width: 300%;
    background: black;
    font-size: .75em;
}
.habilidades th {
    font-weight: bold;
    background-color: #851944;
    color: white;
}
.habilidades thead th {
    background-color: #3C1D3D;
}
.habilidades td {
    background-color: #eee;
}
.habilidades th,
.habilidades td {
    padding: 1em;
}

.habilidades {
    border-collapse: separate;
    border-spacing: .25em;
    margin: 1em 0;
}
.habilidades [colspan] {
    text-align: center;
    font-style: italic;
}
.habilidades [rowspan] {
    vertical-align: middle;
}