
body {
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color: #F2FFFC;
	font-size: 120%;
}

h1, h2 {
	font-family: "Open Sans Condensed", "Arial", sans-serif;
}

main h1 {
	font-size: 60px;
	background-color: #851944;
	color: #F2FFFC;
	text-align: center;
	font-family: "Open Sans Condensed", sans-serif;
	padding: 20px;
	margin: 0;
}

main div {
	text-align: center;
	width: 720px;
}

p {
	text-align: justify;
}

main a {
	color: #851944;
}

blockquote {
	background-color: #D3DDDA;
	padding: 20px;
	border: 10px solid #C2CCCA;
	width: 250px;
	margin: 0;
	box-sizing: border-box;
}

aside {
	background-color: #3C1D3D;
	color: #F2FFFC;
}

footer {
	background-color: #000;
	color: #F2FFFC;
}

nav a {
	color: #F2FFFC;
	text-decoration: none;
}

aside a {
	color: inherit;
	font-family: "Open Sans Condensed", sans-serif;
}