
body {
	background-color: #F2FFFC;
}

main h1 {
	font-size: 60px;
	background-color: #851944;
	color: #F2FFFC;
	text-align: center;
	font-family: "Open Sans Condensed", sans-serif;
	padding: 20px;
	margin: 0;
}

main a {
	color: #851944;
}

h2 {
	font-size: 40px;
	font-family: "Open Sans Condensed", sans-serif;
}

p {
	text-align: justify;
	margin: 30px 0;
}

blockquote {
	background-color: #D3DDDA;
	padding: 16px;
	border: 10px solid #C2CCCA;
	width: 250px;
	margin: 0;
	box-sizing: border-box;
}

strong {
	font-weight: 600;
}

em {
	font-size: italic;
}

aside {
	background-color: #3C1D3D;
	color: #F2FFFC;
	text-align: center;
	padding: 20px;
	font-family: "Open Sans Condensed", sans-serif;
}

nav h1 {
	font-size: 30px;
	margin-bottom: 25px;
}

nav a {
	color: inherit;
}

.icones-sociais li {
	display: inline-block;
}

.social-rodape {
	margin: 60px;
}

footer {
	background-color: #000;
	color: #F2FFFC;
	padding: 20px;
}